cloudpickle==3.1.1
cmake==3.31.4
contourpy==1.3.1
cycler==0.12.1
econml==0.14.1
filelock==3.17.0
fonttools==4.56.0
Jinja2==3.1.5
joblib==1.3.2
kiwisolver==1.4.8
lightgbm==4.0.0
lit==18.1.8
llvmlite==0.44.0
MarkupSafe==3.0.2
matplotlib==3.7.1
mpmath==1.3.0
networkx==3.4.2
numba==0.61.0
numpy==1.26.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
packaging==24.2
pandas==2.1.1
pathlib==1.0.1
patsy==1.0.1
pillow==11.1.0
pyparsing==3.2.1
python-dateutil==2.9.0.post0
pytz==2025.1
scikit-learn==1.2.2
scipy==1.11.3
shap==0.41.0
six==1.17.0
sklearn-pandas==2.2.0
slicer==0.0.7
sparse==0.15.5
statsmodels==0.14.0
sympy==1.13.3
threadpoolctl==3.5.0
torch==2.0.1
tqdm==4.67.1
triton==2.0.0
typing_extensions==4.12.2
tzdata==2025.1
